.pet-card {
    background-color: var(--card-sectionning-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 200px;
    max-width: 300px;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: .5rem;
    transition: 0.3s
  }
  
  /* On mouse-over, add a deeper shadow */
  .pet-card:hover {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
  }